* {
    font-family: 'Black Han Sans';
}

body {
    margin: 0;
}

/*header*/
header {
    /* for sticky header */
    position: fixed;
    top: 0;

    width: 100%;

    z-index: 2000;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);

}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.nav-btn {
    position: absolute;
    right: 8px;
    top: 8px;
}

.nav-btn button {
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-left: 5px;
}

.nav-logo h1 {
    margin-top: 25px;
    margin-left: 50px;
}

.nav-btn button:hover {
    background-color: lightgray
}

.wrap {
    position: relative;
    margin-top: 220px;
    width: 100%;

}

/* aside */
aside {
    position: fixed;
    top: 140px;
    bottom: 0px;
    width: 25%;

    padding: 0px 40px;
}

/*section*/
section {
    float: right;
    width: 75%;
}

/* 사람 버튼 css */
.human-wrap {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.human-img {
    width: 100%;
    height: 100%;

}

.human-btns {
    position: absolute;
    width: 100%;
    height: 100%;
}

.human-btn {
    position: absolute;

    background-color: transparent;

    border: 3px solid #12161d;
    border-radius: 10px;

    cursor: pointer;
    transition: 1s;
}

.human-btn-click {
    position: absolute;

    background-color: transparent;
    color: #20c997;

    border: 3px solid #20c997;
    border-radius: 10px;

    cursor: pointer;
    transition: 1s;
}

.human-btn:hover {
    background-color: black;
    color: white;
}

.btn1 {
    top: 7%;
    left: 45%;
}

.btn2 {
    top: 18%;
    left: 53%;
}

.btn3 {
    top: 30%;
    left: 65%;
}

.btn4 {
    top: 20%;
    left: 30%;
}

.btn5 {
    top: 40%;
    left: 28%;
}

.btn6 {
    top: 45%;
    left: 55%;
}

.btn7 {
    top: 55%;
    left: 60%;
}

.btn8 {
    top: 65%;
    left: 25%;
}

.btn9 {
    top: 75%;
    left: 60%;
}

.card {
    margin: 20px;
    width: 25%;
    height: 400px;
    max-width: 1200px;
    outline-color: #20c997;
}

.content {
    width: 1200px;
    height: 2300px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/static/img/img1.png');
    background-position: center;
    background-size: 300px 300px;
    background-attachment: fixed;
    clear: both;
}

.img-box {
    width: 200px;
}

.menu-title {
    display: flex;
    flex-display: column;
    justify-content: center;
    align-items: center;
}
