* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 컨테이너 영역 */
.container {
    width: 400px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* 이미지 영역 */
.img-box {
    width: 80%;
    height: 25%;
    padding-top: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    width: 250px;
}


/* 회원가입 영역 */
.signup_box {
    width: 80%;
    height: 75%;
    padding-top: 70px;
}

.int-area {
    position: relative;
}

.check-dup-button {
    position: absolute;
    right: 7px;
    top: 15px;
    background: rgb(140, 221, 248);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    width: 70px;
    height: 30px;
}

.int-area > input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px lightgray solid;
    background-color: rgba(250, 249, 249, 0.884);
    padding: 8px 10px;
}

.int-area > input:hover {
    border: 1px gray solid;
}

.signup-btn {
    background-color: rgb(140, 221, 248);
    color: white;
    font-size: 1rem;
    width: 100%;
    height: 35px;
    line-height: 35PX;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-btn:hover {
    background-color: rgb(74, 201, 243);
}

/* 로그인 페이지로 이동 */
.return {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.return > a {
    text-decoration: none;
    color: rgb(53, 185, 247);
    font-weight: 700;
    margin-left: 5px;
}

.return > a:hover {
    color: rgb(7, 171, 247);
}

/* p element css property */

.is-success {
    font-size: 0.8rem;
    color: blue;
}

.is-danger {
    font-size: 0.8rem;
    color: red;
}

